@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.see {
  color: #ff0053;
  font-size: 20px;
}
@font-face {
  font-family: "source-serif-pro-bold";
  src: url("@/assets/fonts/source-serif-pro.bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source-serif-pro-regular";
  src: url("@/assets/fonts/source-serif-pro.regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "source-serif-pro-semibold";
  src: url("@/assets/fonts/source-serif-pro.semibold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media (max-width: 600px) {
  .h111 {
    color: #1e0627;
    font-size: 24px;
    font-weight: 600;
  }
}
button.p-carousel-prev.p-link,
button.p-carousel-next.p-link {
  display: none !important;
}

.astrology-heading {
  font-size: 28px;
  color: #121212;
  font-weight: 700;
  font-family: lato;
}
.astrology-paragraph {
  font-size: 24px;
  line-height: 1.2;
  color: #757575;
  font-family: lato;
}

button.p-carousel-prev.p-link,
button.p-carousel-next.p-link {
  display: flex !important;
  background-color: #ffff;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 10px;
  padding: 0px;
}
button.p-carousel-next.p-link{
  color: #ff0053 !important;
}